<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width" />

	<title>Pesquisa de Alternativos</title>

	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
	 
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
	
	<script th:src="@{http://code.jquery.com/jquery-1.8.3.js}"></script>
    <script th:src="@{http://code.jquery.com/ui/1.9.2/jquery-ui.js}"></script>	
	
	<script src="/js/producao.js"></script>
	
	<script type="text/javascript">	</script>
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lançamentos de Produção</h1>
		</div>
	</div>
	
		<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<form class="form-inline" method="POST" th:object="${alternativo}" th:action="@{/alternativos}"   style="margin: 20px 0">
				<table>
					<tr>
						<td><input id="inputLeitura" name="leitura" type="text" class="form-control" placeholder="Leitura" style="width: 250px; "/></td>
						<td> </td>
						<td> <button type="submit" name="condicao" value="1" class="btn btn-primary" style="background: green; height: 30px;">Buscar</button> </td>				
						</tr>
				</table>		
			</form>
		</div>		 	
	</div>
	
	
	<div id="div-producao" class="panel-body">
	<table class="table">
		<thead>
			<tr id="linha-producao" onblur="AtualizarDefeitos">
				<th>Código</th> <!-- style="visibility:hidden;" -->		
				<th>Alternativo</th>
				<th>Descrição</th>
				<th>Nível</th>		
								
			</tr>
		</thead>
		<tbody>			
				<tr th:each="alternativo : ${alternativos}">
				<td ht:text="${alternativo.id}"><a th:text="${alternativo.id}"></a></td>								
				<td ht:text="${alternativo.td01_alternativo}"><a th:text="${alternativo.td01_alternativo}"></a></td>	
				<td ht:text="${alternativo.td01_descricao}"><a th:text="${alternativo.td01_descricao}"></a></td>	
				<td ht:text="${alternativo.td01_nivel}"><a th:text="${alternativo.td01_nivel}"></a></td>	
				
				</tr>
		
		</tbody>
	</table>
	</div>
					
	
</body>
</html>